
<div class="form-group text-center">
    <%= simple_form_for @experience do |f| %>
    <% f.hidden :user_id, current_user.id %>
    <% f.hidden :experience_id, experience.id %>
    <%= f.input :date,  :label => "Fecha de la reserva",placeholder:"Fecha de la reserva", class: "experiencia" %>
    <%= f.submit "Comprar", class:"btn btn-dark", flash.alert = "Gracias por su compra!"%>
    <% end %>
</div>

