<div>
  <p></p>lugar
</div>

<div>
  <img></img>imagen de la exp
</div>

<div>
  <h1></h1>titulo de la exp
</div>

<div>
<h2></h2>experiecia ofrecida por
  <ul>
    <li></li>cuanto dura
    <li></li>cupos
    <li></li>idiomas
    <li></li>que incluye ej(comida y entrada)
  </ul>
</div>

<div>
  <h2></h2> que haras
  <p></p>despcripcion de la experiencia
</div>

<div>
  <h3></h3> conoce a tu anfitrion , nombre
  <p></p>descripcion del anfitrion
</div>


<imput>chat con el anfitrion


<div>
  card precio
  <h2></h2>precio
  <p></p>por persona
  dos dropdown calendario y cantidad de personas
  <ul>
    <li></li>fecha elegida
    <li></li>hora de comienzo
  </ul>
  imput login
  imput reservar
</div>
