<div class="container">

  <!-- LUGAR Y FECHA -->
   <%# BUSCADOR %>

</div>











<!--  FOOTER -->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github" id="git"></i></a>
    <a href="#"><i class="fab fa-instagram" id="insta"></i></a>
    <a href="#"><i class="fab fa-linkedin" id="link"></i></a>
  </div>

</div>

