<div class="container">

 <%# FORMULARIO %>
 <div class="form-new-experience">
    <div class="form-group text-center">
      <h2>Agregar una experiencia</h2>
    <%= render "form" %>
    </div>
  </div>
</div>

