.home-banner {

  // background-image: image-url("yellow.jpeg");
  justify-content: space-around;
  background-size: cover;
  height: 80vh;
  color: white;

  text-align: center;
  padding-bottom: 20px;
  background-position: center;

}

.show-banner {
    justify-content: space-around;
    background-size: cover;
    align-items: center;
    background-position: center;
    height: 450px;
    color: white;
    text-align: center;
    padding-top: 30vh;
}




