.home-banner {

  justify-content: space-around;
  background-size: cover;
  height: 20%;
  width: 100%;
  color: #eee;
  text-align: center;
  padding-bottom: 20px;
  background-position: center;

}

.show-banner {
  justify-content: space-around;
  background-size: cover;
  align-items: center;
  background-position: bottom;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;

}




