.home-banner {
  background-image: image-url("yellow.jpeg");
  justify-content: space-around;
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;


}


